name: CI

# Trigger the workflow on push to main, or on pull request
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    name: "Test the pkg-release action"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gap-version:
          - master
          - '4.14'
          - '4.13'
          - '4.12'
          - '4.11'
          - '4.10'
        package:
          - "gap-actions/ActionTestGAPDocPackage"
          - "gap-actions/ActionTestOldDocPackage"
    
    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: "Clone the package"
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.package }}

      - name: "Fake the package's date so it does not get rejected later on"
        shell: bash
        if: ${{ matrix.package == 'gap-actions/ActionTestOldDocPackage' }}
        run: |
          DATE=$(date +%d/%m/%Y)
          sed -i -E "s|(Date[[:space:]]*:?=[[:space:]]*['\"]).*(['\"])|\1${DATE}\2|" "PackageInfo.g"

      - name: "Check out this repository"
        uses: actions/checkout@v5
        with:
          path: .this-action/

      - name: "Setup GAP"
        uses: gap-actions/setup-gap@v2
          
      - name: "Build manual"
        uses: gap-actions/build-pkg-docs@v1
        with:
          use-latex: true

      - name: "Make a release"
        uses: ./.this-action/
        with:
          dry-run: true
          force: ${{ matrix.package == 'gap-actions/ActionTestGAPDocPackage' }}

  test-scripts:
    name: "Test the scripts used by this action"
    runs-on: ubuntu-latest

    steps:

      - name: "Check out this repository"
        uses: actions/checkout@v5

      - name: "Shellcheck"
        shell: bash
        run: shellcheck -o all *.sh

      - name: "Test check_filenames.sh"
        shell: bash
        run: |
          mkdir -p filename-dir
          cd filename-dir
          mkdir -p doc
          touch :q \\Users\\GillBates AUX COM².tar.gz period. space\  DOC \
            PackageInfo.g doc/manual.pdf manual.pdf README readme.txt auxiliary .gaplint.yml
          ../check_filenames.sh > $RUNNER_TEMP/filenames_run.txt || true # suppress expected error here
          diff $RUNNER_TEMP/filenames_run.txt - <<EOF
          Checking for Windows-incompatible names
            Name ends with space or period: period.
            Reserved Windows name: COM².tar.gz
            Name ends with space or period: space 
            Duplicate filename: DOC and doc
            Reserved Windows name: AUX
            Illegal character in name: \Users\GillBates
            Illegal character in name: :q
          EOF
