name: CI

# Trigger the workflow on push to main, or on pull request
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    name: "Test the pkg-release action"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: "gap-actions/ActionTestGAPDocPackage"
            force: true
          - package: "gap-actions/ActionTestOldDocPackage"
            force: false
    
    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: "Clone the package"
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.package }}

      - name: "Fake the package's date so it does not get rejected later on"
        shell: bash
        if: ${{ !matrix.force }}
        run: |
          DATE=$(date +%d/%m/%Y)
          sed -i -E "s|(Date[[:space:]]*:?=[[:space:]]*['\"]).*(['\"])|\1${DATE}\2|" "PackageInfo.g"

      - name: "Check out this repository"
        uses: actions/checkout@v5
        with:
          path: .this-action/

      - name: "Setup GAP"
        uses: gap-actions/setup-gap@v3
          
      - name: "Build manual"
        uses: gap-actions/build-pkg-docs@v2
        with:
          use-latex: true

      - name: "Make a release"
        uses: ./.this-action/
        with:
          dry-run: true
          force: ${{ matrix.force }}

  test-scripts:
    name: "Test the scripts used by this action"
    runs-on: ubuntu-latest

    steps:

      - name: "Check out this repository"
        uses: actions/checkout@v5

      - name: "Shellcheck"
        shell: bash
        working-directory: scripts
        run: shellcheck -o all *.sh

      - name: "Test check_filenames.sh"
        shell: bash
        working-directory: scripts
        run: |
          mkdir -p filename-dir/doc
          cd filename-dir
          touch :q \\Users\\GillBates AUX COM².tar.gz period. space\  DOC \
            PackageInfo.g doc/manual.pdf manual.pdf README readme.txt auxiliary .gaplint.yml
          ../check_filenames.sh > $RUNNER_TEMP/filenames_run.txt || true # suppress expected error here
          diff $RUNNER_TEMP/filenames_run.txt - <<EOF
          Checking for Windows-incompatible names
            Illegal character in name: :q
            Reserved Windows name: AUX
            Reserved Windows name: COM².tar.gz
            Illegal character in name: \Users\GillBates
            Duplicate filename: DOC and doc
            Name ends with space or period: period.
            Name ends with space or period: space 
          EOF

      - name: "Test check_absolute_paths.sh"
        shell: bash
        working-directory: scripts
        run: |
          mkdir -p paths-dir/doc
          cd paths-dir
          ../check_absolute_paths.sh > $RUNNER_TEMP/absolute_paths_run.txt # empty folder, so should not give error
          echo "<a href=\"/home/runner/gap/pkg/awesomepackage/doc/chap66_mj.html#ABC123\">Link</a>" > doc/chap1_mj.html
          echo "<a href=\"file:///home/runner/gap/pkg/awesomepackage/doc/chap66_mj.html#ABC123\">Link</a>" > doc/chap2_mj.html
          echo "<a href=\"../../../pkg/awesomepackage/doc/chap66_mj.html#ABC123\">Link</a>" > doc/chap3_mj.html
          ../check_absolute_paths.sh > $RUNNER_TEMP/absolute_paths_run.txt || true # suppress expected error here
          diff <(sort $RUNNER_TEMP/absolute_paths_run.txt) - <<EOF
          ./doc/chap1_mj.html
          ./doc/chap2_mj.html
          EOF

      - name: "Test check_symlinks.sh"
        shell: bash
        working-directory: scripts
        run: |
          mkdir -p symlinks-dir
          cd symlinks-dir
          echo "THIS FILE IS NOT A SYMLINK" > actual.file
          ../check_symlinks.sh > $RUNNER_TEMP/symlinks_run.txt # should not give error
          ln -s actual.file sym.link
          ../check_symlinks.sh > $RUNNER_TEMP/symlinks_run.txt || true # suppress expected error here
          diff <(sort $RUNNER_TEMP/symlinks_run.txt) - <<EOF
          ./sym.link
          EOF

      - name: "Test date.sh"
        shell: bash
        working-directory: scripts
        run: |
          if   ! ./check_date.sh "$(date +%Y-%m-%d)"                 \
            || ! ./check_date.sh "$(date -d "1 day ago" +%Y-%m-%d)"  \
            || ! ./check_date.sh "$(date -d "1 day" +%Y-%m-%d)"      \
            ||   ./check_date.sh "$(date -d "2 days ago" +%Y-%m-%d)" \
            ||   ./check_date.sh "$(date -d "2 days" +%Y-%m-%d)"
          then
            exit 1
          fi
