name: CI

# Trigger the workflow on push to main, or on pull request
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-action:
    name: "Test the pkg-release action"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: "gap-actions/ActionTestGAPDocPackage"
            force: true
          - package: "gap-actions/ActionTestOldDocPackage"
            force: false
    
    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: "Clone the package"
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.package }}

      - name: "Fake the package's date so it does not get rejected later on"
        shell: bash
        if: ${{ !matrix.force }}
        run: |
          DATE=$(date +%d/%m/%Y)
          sed -i -E "s|(Date[[:space:]]*:?=[[:space:]]*['\"]).*(['\"])|\1${DATE}\2|" "PackageInfo.g"

      - name: "Check out this repository"
        uses: actions/checkout@v5
        with:
          path: .this-action/

      - name: "Setup GAP"
        uses: gap-actions/setup-gap@v3
          
      - name: "Build manual"
        uses: gap-actions/build-pkg-docs@v2
        with:
          use-latex: true

      - name: "Make a release"
        uses: ./.this-action/
        with:
          dry-run: true
          force: ${{ matrix.force }}

  test-scripts:
    name: "Test the scripts used by this action"
    runs-on: ubuntu-latest

    steps:

      - name: "Check out this repository"
        uses: actions/checkout@v5

      - name: "Shellcheck"
        shell: bash
        run: shellcheck -o all *.sh

      - name: "Run check_filenames.sh"
        shell: bash
        continue-on-error: true
        id: check-filenames
        run: |
          mkdir -p filename-dir
          cd filename-dir
          mkdir -p doc
          touch :q \\Users\\GillBates AUX COM².tar.gz period. space\  DOC \
            PackageInfo.g doc/manual.pdf manual.pdf README readme.txt auxiliary .gaplint.yml
          ../check_filenames.sh > $RUNNER_TEMP/filenames_run.txt
        
      - name: "Test result of check_filenames.sh"
        shell: bash
        run: |
          if [[ "${{ steps.check-filenames.outcome }}" != 'failure' ]]; then
            echo "::error::check_filenames step has unexpected outcome '${{ steps.check-filenames.outcome }}'"
            exit 1
          fi
          diff $RUNNER_TEMP/filenames_run.txt - <<EOF
          Checking for Windows-incompatible names
            Illegal character in name: :q
            Reserved Windows name: AUX
            Reserved Windows name: COM².tar.gz
            Illegal character in name: \Users\GillBates
            Duplicate filename: DOC and doc
            Name ends with space or period: period.
            Name ends with space or period: space 
          EOF
        
